env.json
node_modules/
src/mainapp.js.map
app.js
app.js.map
src/containerclasses.js
src/containerclasses.js.map
src/flowandtokenhandler.js
src/flowandtokenhandler.js.map
src/mainapp.js
src/settings.js
src/settings.js.map
src/SunWrapper.js
src/SunWrapper.js.map
src/triggerhandler.js
src/triggerhandler.js.map
test.ts

settings-src/node_modules

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

settings/*

app.js.map
settings-src/src/websettings.js
settings-src/src/websettings.js.map
app.json
settings-src/src/CommonContainerClasses.js.map
settings-src/src/CommonContainerClasses.js
settings-src/src/SettingsPersistance.js
settings-src/src/SettingsPersistance.js.map
Settings.v2.json
src/CommonContainerClasses.js
src/CommonContainerClasses.js.map
src/CommonContainerClasses.ts
src/SettingsPersistance.js
src/SettingsPersistance.js.map
src/SettingsPersistance.ts
example settings.json
ExampleSettings.v1.json
app.js.map
examplesettings.json
examplesettings.v1.kass.json
failingsettings.v1.json
examplesettings.json
Mysettings.v2.json
test.json
test2.json
