<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        
    	<!-- The '/homey.js' script must be included in your settings view to work -->
        <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
        <script type="text/javascript" src="../settings/websettings.js" data-origin="settings"></script>

        <!--script type="text/javascript" src="../settings/vue.js" data-origin="settings"></script-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" data-origin="settings"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <!--script src="https://unpkg.com/http-vue-loader"></script-->

    </head>
    <body >
        <div id="app">
            <v-app>
                <v-main>
                    <!--button-counter></button-counter>
                    <button-counter></button-counter-->
                    <v-expansion-panels>
                        <v-expansion-panel v-for="schedule in settings.schedules" :key="schedule.id">
                            <v-expansion-panel-header>{{ schedule.name }}, Active:{{ schedule.active }}</v-expansion-panel-header>
                            <v-expansion-panel-content> 
                                <!--v-switch v-model="switch1" :label="`Switch 1: ${switch1.toString()}`" ></v-switch-->

                                <v-container>
                                    <v-row no-gutters>
                                        <v-col cols="8">
                                            <v-text-field label="Schedule name" placeholder="Enter a schedule name" v-model="schedule.name"></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-switch label="Active" v-model="schedule.active"></v-switch>
                                        </v-col>
                                    </v-row>
                                </v-container>
                               
                                <v-expansion-panels>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>Tokens</v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row no-gutters v-for="token in schedule.tokens" :key="token.id">
                                                <v-col cols="6">
                                                    <v-text-field label="Token name" placeholder="Enter a token name" v-model="token.name"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-chip color="primary">{{ token.type }}</v-chip>
                                                </v-col>
                                                <v-col cols="2">
                                                    <!--v-btn fab dark x-small color="red"><v-icon dark>mdi-delete-circle</v-icon></v-btn-->

                                                    <!--v-dialog v-model="tokendeletedialog[token.id]" -->
                                                    <v-dialog v-model="token.deletedialogopen"> 
                                                    <!--v-dialog v-model="tokendeletedialog[token.id].open" -->
                                                            <!--template v-slot:activator="{ on, attrs }">
                                                            <v-btn fab dark x-small color="red" v-bind="attrs" v-on="on"><v-icon dark>mdi-delete-circle</v-icon></v-btn-->
                                                        <template v-slot:activator="{ on }">
                                                            <v-btn fab dark x-small color="red" v-on="on"><v-icon dark>mdi-delete-circle</v-icon></v-btn>
                                                        </template>
                                                        <v-card>
                                                            <v-card-title class="headline">Delete Token?</v-card-title>
                                                            <v-card-text>Do you want to delete token? All tokens in schedule will be removed!</v-card-text>
                                                            <v-card-actions>
                                                                <v-spacer></v-spacer>
                                                                <!--v-btn color="green darken-1" text @click="tokenCloseDeleteDialog(token.id)">No</v-btn-->
                                                                <v-btn color="green darken-1" text @click="token.deletedialogopen=false">No</v-btn>
                                                                <v-btn color="red darken-1" text @click="tokenDeleteAndCloseDialog(token.id)">Yes, delete</v-btn>
                                                            </v-card-actions>  
                                                        </v-card>
                                                    </v-dialog>
                                                </v-col>
                                            </v-row>
                                            <v-btn color="green darken-1" text @click="addToken(schedule.id, 'boolean')">Add bool token</v-btn>
                                            <v-btn color="green darken-1" text @click="addToken(schedule.id, 'number')">Add number token</v-btn>
                                            <v-btn color="green darken-1" text @click="addToken(schedule.id, 'string')">Add string token</v-btn>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>Schedule Items </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row no-gutters v-for="si in schedule.scheduleitems" :key="si.id">
                                                <v-container>
                                                    <v-sheet>
                                                    <v-row>
                                                        <!--v-col cols="2">
                                                            Day
                                                        </v-col-->
                                                        <v-col cols="10">
                                                            Days: {{ si.daysArgText }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <!--v-btn fab dark x-small color="green" v-bind="attrs" v-on="on"><v-icon dark>mdi-edit</v-icon></v-btn-->
                                                            <!--v-dialog v-model="'dialogsi' + si.id" --> <!-- max-width="290"-->
                                                            <v-dialog v-model="si.editdialogopen"> <!-- max-width="290"-->
                                                                <template v-slot:activator="{ on }">
                                                                    <!--v-btn fab dark x-small color="green" v-bind="attrs" v-on="on"><v-icon dark>mdi-pencil</v-icon></v-btn-->
                                                                    <v-btn fab dark x-small color="green" v-on="on"><v-icon dark>mdi-pencil</v-icon></v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title>
                                                                      <span class="headline">Edit Scheduleitem</span>
                                                                    </v-card-title>
                                                                    <v-card-text>
                                                                        <v-container>
                                                                            <v-row>
                                                                                <v-select
                                                                                    v-model="si.daysarg"
                                                                                    :items="['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']"
                                                                                    label="Select"
                                                                                    multiple
                                                                                    chips
                                                                                    hint="Select days of week"
                                                                                    persistent-hint
                                                                                    ></v-select>
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-radio-group
                                                                                    v-model="si.timetype"
                                                                                    row
                                                                                    mandatory
                                                                                    >
                                                                                    <v-radio
                                                                                        label="Time"
                                                                                        value="1"
                                                                                        
                                                                                    ></v-radio>
                                                                                    <v-radio
                                                                                        label="Solar"
                                                                                        value="2"
                                                                                    ></v-radio>
                                                                                    </v-radio-group>
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-text-field label="Trigger time" placeholder="Enter a time" v-model="si.timearg"></v-text-field>
                                                                                <!--v-time-picker
                                                                                format="24hr"
                                                                                use-seconds
                                                                                ></v-time-picker-->
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-btn  color="green darken-1" text @click="si.editdialogopen=false">Close</v-btn>
                                                                                <!--v-btn color="green darken-1" text @click="'dialogsi' + si.id + ' = false'">Close</v-btn-->
                                                                            </v-row>
                                                                        </v-container>
                                                                    </v-card-text>
                                                                </v-card>
                                                            </v-dialog>


                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col cols="8">
                                                            {{ si.timetype }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            {{ si.timearg }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <!--v-btn fab dark x-small color="red"><v-icon dark>mdi-delete-circle</v-icon></v-btn-->

                                                            <v-dialog v-model="si.deletedialogopen" > <!-- max-width="290"-->
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <v-btn fab dark x-small color="red" v-bind="attrs" v-on="on"><v-icon dark>mdi-delete-circle</v-icon></v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title class="headline">Delete Scheduleitem?</v-card-title>
                                                                    <v-card-text>Do you want to delete scheduleitem?</v-card-text>
                                                                    <v-card-actions>
                                                                        <v-spacer></v-spacer>
                                                                        <v-btn color="green darken-1" text @click="si.deletedialogopen = false">No</v-btn>
                                                                        <v-btn color="red darken-1" text @click="scheduleItemDeleteAndCloseDialog(si.id)">Yes, delete</v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </v-col>
                                                    </v-row>
                                                </v-sheet>
                                                </v-container>
                                            </v-row>
                                            <v-btn color="green darken-1" text @click="addScheduleItem(schedule.id)">Add new schedule item</v-btn>

                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>

                            </v-expansion-panel-content> 
                        </v-expansion-panel>
                    </v-expansion-panels>
                    
                    <v-btn color="green darken-1" text @click="addSchedule()">Add new schedule</v-btn>
                    <v-btn color="green darken-1" text @click="saveSettings()">Save settings</v-btn>

                    <!--v-container>Hello world</v-container>
                    <ul>
                        <li v-for="schedule in settings.schedules">
                            {{ schedule.name }}, Active: {{ schedule.active }} 
                            <div>Tokens
                                <ul>
                                    <li v-for="token in schedule.tokens">
                                    {{ token.name }}:{{token.type}} <BR>
                                    
                                    </li>
                                </ul>
                                ScheduleItems <BR>
                                <ul>
                                    <li v-for="si in schedule.scheduleitems">
                                    {{ si.daystype }}, {{ si.daysarg }}, {{ si.timetype }}, {{ si.timearg }} <BR>
    
                                    <ul>
                                        <li v-for="ti in si.tokenitems">
                                        {{ ti.token.name }}, {{ ti.value }}:{{ti.token.type}} <BR>
                                        
                                        </li>
                                    </ul>
                
                                    </li>
                                </ul>
                            </div>                        
    
                        </li>
                    </ul-->

                </v-main>
            </v-app>

                
        </div>


        <h1>
			Settings (old)	
		</h1>

        <div>
            <label for="settings">Settings</label><BR>
            <input id="settings" type="text" rows = "20" cols="50" value="" />
        </div>
        
        <p id="demo"></p>

        <button id="save" class="right">Save changes</button>
        
        <script type="text/javascript">

            // a method named 'onHomeyReady' must be present in your code
            function onHomeyReady( Homey ){
                var settingsElement = document.getElementById('settings');
                var saveElement = document.getElementById('save');
                Homey.get('settings', function( err, settings ) {
                if( err ) return Homey.alert( err );
                    settingsElement.value = settings;
                    try {
                       setupVue(Homey);
                    } catch (error) {
                        
                    } 
                });
                
                // Tell Homey we're ready to be displayed
                Homey.ready();

                saveElement.addEventListener('click', function(e) {
                    Homey.set('settings', settingsElement.value, function( err ){
                        if( err ) return Homey.alert( err );
                    });
                });
            }

            function setupVue(homey){

                // Define a new component called button-counter
//                Vue.component('button-counter', {
 //               data: function () {
  //                  return {
   //                 count: 0
    //                }
     //           },
      //          template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
       //         })

                
                //document.getElementById('demo').innerText = ws.getSchedules();

                let vuedata = {
                    el: '#app',
                    vuetify: new Vuetify(),
                    components: {},
                    data: {
                        settings:{
                            schedules:[]

                        },
                        homey:homey,    

                    },
                    //computed: {
                    //    shortenTokenType() {
                    //        var type='number';
                    //        if (type=='number') return 'num';
                    //        else if (type=='boolean') return 'bool';
                    //        else return 'string';
                    //    }
                    //},
                    methods: {
                        
                        saveSettings : function () {
                            var ws = new WebSettings()
                            var settings = ws.buildSettings(this.settings.schedules)
                            
                            console.log('Settings:');
                            console.log(settings);
                            
                            this.homey.set('settings', settings, function( err ){
                                if( err ) return this.homey.alert( err );
                            });
                        },


                        tokenDeleteAndCloseDialog : function (tokenid) {
                        
                            this.settings.schedules.forEach(schedule => {
                                schedule.tokens.forEach(token => {
                                    if (token.id == tokenid) {
                                        var index = schedule.tokens.indexOf(token);
                                        if (index !== -1) {
                                            schedule.tokens.splice(index, 1);
                                            console.log('Deleted token with id: ' +token.id)
                                        }
                                        schedule.scheduleitems.forEach(si => {
                                            si.tokenitems.forEach(ti => {
                                                if (ti.id=tokenid){
                                                    index = si.tokenitems.indexOf(ti);
                                                    if (index !== -1) {
                                                        si.tokenitems.splice(index, 1);
                                                        console.log('Deleted tokenitem with id: ' +ti.id)
                                                    }
                                                }
                                            })
                                        })

                                    }
                                })
                            })
                            
                            token.deletedialogopen=false;
                        },

                        tokenItemDeleteAndCloseDialog : function (scheduleitemid, tokenid) {
                        
                            this.settings.schedules.forEach(schedule => {
                                schedule.scheduleitems.forEach(si => {
                                    if (si.id == scheduleitemid) {
                                        si.tokenitems.forEach(ti => {
                                            if (ti.id=tokenid){
                                                index = si.tokenitems.indexOf(ti);
                                                if (index !== -1) {
                                                    si.tokenitems.splice(index, 1);
                                                    console.log('Deleted tokenitem with id: ' +ti.id)
                                                }
                                                ti.deletedialogopen=false;
                                            }
                                        })
                                    }
                                })
                            })
                        },

                        scheduleItemDeleteAndCloseDialog : function (scheduleitemid) {
                            
                            this.settings.schedules.forEach(schedule => {
                                schedule.scheduleitems.forEach(si => {
                                    if (si.id == scheduleitemid) {
                                        var index = schedule.scheduleitems.indexOf(si);
                                        if (index !== -1) {
                                            schedule.scheduleitems.splice(index, 1);
                                            console.log('Deleted schedule item with id: ' +scheduleitemid)
                                        }
                                        si.deletedialogopen=false;
                                    }
                                })
                            })
                        },

                        scheduleDeleteAndCloseDialog : function (scheduleid) {
                            this.settings.schedules.forEach(schedule => {
                                if (schedule.id == scheduleid) {
                                    var index = schedules.indexOf(schedule);
                                    if (index !== -1) {
                                        schedules.splice(index, 1);
                                        console.log('Deleted schedule with id: ' +schedule.id)
                                    }

                                }
                            })
                            
                            schedule.deletedialogopen=false;
                        },

                        addToken : function (scheduleid, type) {
                            var maxid = 0;
                            this.settings.schedules.forEach(schedule => {
                                schedule.tokens.forEach(token => {
                                    if (token.id > maxid) maxid = token.id;
                                })
                            })

                            this.settings.schedules.forEach(schedule => {
                                if (schedule.id == scheduleid) {
                                    schedule.tokens.push(new Token(maxid+1, 'New token', type))        
                                }
                            })
                            
                        },

                        addSchedule : function () {
                            var maxid = 0;
                            this.settings.schedules.forEach(schedule => {
                                if (schedule.id > maxid) maxid = schedule.id;
                            })

                            this.settings.schedules.push(new Schedule(maxid+1, 'New Schedule', true))        
                        },

                        addScheduleItem : function (scheduleid) {
                            var maxid = 0;
                            this.settings.schedules.forEach(schedule => {
                                schedule.scheduleitems.forEach(si => {
                                    if (si.id > maxid) maxid = si.id;
                                })
                            })

                            this.settings.schedules.forEach(schedule => {
                                if (schedule.id == scheduleid) {
                                    schedule.scheduleitems.push(new ScheduleItem(maxid+1, DaysType.DaysOfWeek, 0, TimeType.TimeOfDay, '00:00'))        
                                }
                            })
                            
                        },
                    }

                };
                
                homey.get('settings', function( err, settings ) {

                    if( err ) return homey.alert( err );

                    let ws = new WebSettings();
                    let c = ws.readSettings(settings);
                    var schedules = ws.getSchedules();
                    vuedata.data.settings.schedules = schedules;

                    console.log ('Settings');
                    console.log (settings);
                    console.log (homey);

                    var app = new Vue(vuedata);

                });
      /*          var maxScheduleItems = 100; //Max(vuedata.data.settings.schedules);
                var maxTokens = 100; //Max(vuedata.data.settings.schedules);

                var arr = new Array(maxScheduleItems);
                for (i=0;i<maxScheduleItems;i++) { arr[i]=false; }
                vuedata.data.sieditdialog=arr;

                arr = new Array(maxScheduleItems);
                for (i=0;i<maxScheduleItems;i++) { arr[i]=false; }
                vuedata.data.sideletedialog=arr;

                //arr = new Array(maxTokens);
                for (i=0;i<maxTokens;i++) { arr[i]= {
                    open:false
                }
                    
                    ; }
                var map = new Map();
                schedules.forEach(schedule => {
                    schedule.tokens.forEach(token => {
                        map.set(token.id,)
                    })
                })
                vuedata.data.tokendeletedialog=

           */     

                //var app = new window.Vue(vuedata);

            }

            function shortenTokenType2(type){
                if (type=='number') return 'num';
                else if (type=='boolean') return 'bool';
                else return 'string';
            }
            
            
        </script>
        
        <!--script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script-->

    </body>
</html>