<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        
    	<!-- The '/homey.js' script must be included in your settings view to work -->
        <script type="text/javascript" src="/homey.js" data-origin="settings"></script>
        <script type="text/javascript" src="../settings/websettings.js" data-origin="settings"></script>

        <!--script type="text/javascript" src="../settings/vue.js" data-origin="settings"></script-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js" data-origin="settings"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <!--script src="https://unpkg.com/http-vue-loader"></script-->

    </head>
    <body >
        <div id="app">
            <v-app>
                <v-main>
                    <button-counter></button-counter>
                    <button-counter></button-counter>
                    <v-expansion-panels>
                        <v-expansion-panel v-for="schedule in settings.schedules">
                            <v-expansion-panel-header>{{ schedule.name }}, Active:{{ schedule.active }}</v-expansion-panel-header>
                            <v-expansion-panel-content> 
                                <!--v-switch v-model="switch1" :label="`Switch 1: ${switch1.toString()}`" ></v-switch-->

                                <v-container>
                                    <v-row no-gutters>
                                        <v-col cols="8">
                                            <v-text-field label="Schedule name" placeholder="Enter a schedule name" v-model="schedule.name"></v-text-field>
                                        </v-col>
                                        <v-col cols="4">
                                            <v-switch label="Active" v-model="schedule.active"></v-switch>
                                        </v-col>
                                    </v-row>
                                </v-container>



                                
                               
                                <v-expansion-panels>
                                    <v-expansion-panel>

                                        <v-expansion-panel-header>Tokens</v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row no-gutters v-for="token in schedule.tokens">
                                                <v-col cols="6">
                                                    <v-text-field label="Token name" placeholder="Enter a token name" v-model="token.name"></v-text-field>
                                                </v-col>
                                                <v-col cols="4">
                                                    <v-chip color="primary">{{ token.type }}</v-chip>
                                                </v-col>
                                                <v-col cols="2">
                                                    <!--v-btn fab dark x-small color="red"><v-icon dark>mdi-delete-circle</v-icon></v-btn-->

                                                    <v-dialog v-model="dialog" > <!-- max-width="290"-->
                                                        <template v-slot:activator="{ on, attrs }">
                                                            <v-btn fab dark x-small color="red" v-bind="attrs" v-on="on"><v-icon dark>mdi-delete-circle</v-icon></v-btn>
                                                        </template>
                                                        <v-card>
                                                            <v-card-title class="headline">Delete Token?</v-card-title>
                                                            <v-card-text>Do you want to delete token? All tokens in schedule will be removed!</v-card-text>
                                                            <v-card-actions>
                                                                <v-spacer></v-spacer>
                                                                <v-btn color="green darken-1" text @click="dialog = false">No</v-btn>
                                                                <v-btn color="red darken-1" text @click="dialog = false">Yes, delete</v-btn>
                                                            </v-card-actions>
                                                        </v-card>
                                                    </v-dialog>
                                                </v-col>
                                            </v-row>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                    <v-expansion-panel>
                                        <v-expansion-panel-header>Schedule Items </v-expansion-panel-header>
                                        <v-expansion-panel-content>
                                            <v-row no-gutters v-for="si in schedule.scheduleitems">
                                                <v-container>
                                                    <v-sheet>
                                                    <v-row>
                                                        <!--v-col cols="2">
                                                            Day
                                                        </v-col-->
                                                        <v-col cols="10">
                                                            Days: {{ si.daysArgText }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <!--v-btn fab dark x-small color="green" v-bind="attrs" v-on="on"><v-icon dark>mdi-edit</v-icon></v-btn-->
                                                            <!--v-dialog v-model="'dialogsi' + si.id" --> <!-- max-width="290"-->
                                                            <v-dialog v-model="sieditdialog"> <!-- max-width="290"-->
                                                                <template v-slot:activator="{ on }">
                                                                    <!--v-btn fab dark x-small color="green" v-bind="attrs" v-on="on"><v-icon dark>mdi-pencil</v-icon></v-btn-->
                                                                    <v-btn fab dark x-small color="green" v-on="on"><v-icon dark>mdi-pencil</v-icon></v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title>
                                                                      <span class="headline">Edit Scheduleitem</span>
                                                                    </v-card-title>
                                                                    <v-card-text>
                                                                        <v-container>
                                                                            <v-row>
                                                                                <v-select
                                                                                    v-model="days"
                                                                                    :items="['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su']"
                                                                                    label="Select"
                                                                                    multiple
                                                                                    chips
                                                                                    hint="Select days of week"
                                                                                    persistent-hint
                                                                                    ></v-select>
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-radio-group
                                                                                    v-model="blabla"
                                                                                    row
                                                                                    mandatory
                                                                                    >
                                                                                    <v-radio
                                                                                        label="Time"
                                                                                        value="radio-time"
                                                                                        
                                                                                    ></v-radio>
                                                                                    <v-radio
                                                                                        label="Solar"
                                                                                        value="radio-solar"
                                                                                    ></v-radio>
                                                                                    </v-radio-group>
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-text-field label="Trigger time" placeholder="Enter a time" v-model="si.timearg"></v-text-field>
                                                                                <!--v-time-picker
                                                                                format="24hr"
                                                                                use-seconds
                                                                                ></v-time-picker-->
                                                                            </v-row>
                                                                            <v-row>
                                                                                <v-btn  color="green darken-1" text @click="sieditdialog=false">Close 1</v-btn>
                                                                                <v-btn  color="green darken-1" text @click="sieditdialog2=false">Close 2</v-btn>
                                                                                <!--v-btn color="green darken-1" text @click="'dialogsi' + si.id + ' = false'">Close</v-btn-->
                                                                            </v-row>
                                                                        </v-container>
                                                                    </v-card-text>
                                                                </v-card>
                                                            </v-dialog>


                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col cols="8">
                                                            {{ si.timetype }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            {{ si.timearg }}
                                                        </v-col>
                                                        <v-col cols="2">
                                                            <!--v-btn fab dark x-small color="red"><v-icon dark>mdi-delete-circle</v-icon></v-btn-->

                                                            <v-dialog v-model="sideletedialog" > <!-- max-width="290"-->
                                                                <template v-slot:activator="{ on, attrs }">
                                                                    <v-btn fab dark x-small color="red" v-bind="attrs" v-on="on"><v-icon dark>mdi-delete-circle</v-icon></v-btn>
                                                                </template>
                                                                <v-card>
                                                                    <v-card-title class="headline">Delete Scheduleitem?</v-card-title>
                                                                    <v-card-text>Do you want to delete scheduleitem?</v-card-text>
                                                                    <v-card-actions>
                                                                        <v-spacer></v-spacer>
                                                                        <v-btn color="green darken-1" text @click="sideletedialog = false">No</v-btn>
                                                                        <v-btn color="red darken-1" text @click="sideletedialog = false">Yes, delete</v-btn>
                                                                    </v-card-actions>
                                                                </v-card>
                                                            </v-dialog>
                                                        </v-col>
                                                    </v-row>
                                                </v-sheet>
                                                </v-container>
                                            </v-row>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-expansion-panels>

                            </v-expansion-panel-content> 
                        </v-expansion-panel>
                    </v-expansion-panels>
                    
                    <v-container>Hello world</v-container>
                    <v-collapse-wrapper>
                        <ul>
                            <li v-for="schedule in settings.schedules" v-collapse-toggle>
                                {{ schedule.name }}, Active: {{ schedule.active }} 
                                <div v-collapse-content>Tokens
                                    <ul>
                                        <li v-for="token in schedule.tokens">
                                        {{ token.name }}:{{token.type}} <BR>
                                        
                                        </li>
                                    </ul>
                                    ScheduleItems <BR>
                                    <ul>
                                        <li v-for="si in schedule.scheduleitems">
                                        {{ si.daystype }}, {{ si.daysarg }}, {{ si.timetype }}, {{ si.timearg }} <BR>
        
                                        <ul>
                                            <li v-for="ti in si.tokenitems">
                                            {{ ti.token.name }}, {{ ti.value }}:{{ti.token.type}} <BR>
                                            
                                            </li>
                                        </ul>
                    
                                        </li>
                                    </ul>
                                </div>                        
        
                            </li>
                    </ul>
                </v-collapse-wrapper>                </v-main>
                </v-app>

                
        </div>


        <h1>
			Settings	
		</h1>

        <div>
            <label for="settings">Settings</label><BR>
            <input id="settings" type="text" rows = "20" cols="50" value="" />
        </div>
        
        <p id="demo"></p>

        <button id="save" class="right">Save changes</button>
        
        <script type="text/javascript">

            // a method named 'onHomeyReady' must be present in your code
            function onHomeyReady( Homey ){
                var settingsElement = document.getElementById('settings');
                var saveElement = document.getElementById('save');
                Homey.get('settings', function( err, settings ) {
                if( err ) return Homey.alert( err );
                    settingsElement.value = settings;
                    try {
                       setupVue(settings);
                    } catch (error) {
                        
                    } 
                });
                
                // Tell Homey we're ready to be displayed
                Homey.ready();

                saveElement.addEventListener('click', function(e) {
                    Homey.set('settings', settingsElement.value, function( err ){
                        if( err ) return Homey.alert( err );
                    });
                });
            }

            function setupVue(settings){

                // Define a new component called button-counter
                Vue.component('button-counter', {
                data: function () {
                    return {
                    count: 0
                    }
                },
                template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
                })

                let ws = new WebSettings(settings);
                let c = ws.readSettings();
                //document.getElementById('demo').innerText = ws.getSchedules();

                let vuedata = {
                    el: '#app',
                    vuetify: new Vuetify(),
                    components: {},
                    data: {
                        settings:{
                            schedules:[]
                        },
                        sideletedialog:false,
                        sieditdialog:[],
                        sieditdialog1:false,
                        sieditdialog2:false,

                    },
                    computed: {
                        shortenTokenType() {
                            var type='number';
                            if (type=='number') return 'num';
                            else if (type=='boolean') return 'bool';
                            else return 'string';
                        }
                    },
                    methods: {
                        closeSIEdit: function () {
                            //alert ('hej');
                            vuedata.data.sieditdialog[1]=false;
                            }
                        }
                };
                
                var arr = new Array(100);
                for (i=0;i<100;i++) { arr[i]=false; }
                vuedata.data.sieditdialog=arr;
                vuedata.data.settings.schedules = ws.getSchedules();

                //var app = new window.Vue(vuedata);
                var app = new Vue(vuedata);

            }

            function shortenTokenType2(type){
                if (type=='number') return 'num';
                else if (type=='boolean') return 'bool';
                else return 'string';
            }
            
            
        </script>
        
        <!--script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script-->

    </body>
</html>